@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}



body{
    
    margin: 0%;
   
    
    background-image: url(img2/mapamundi.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.contenedor{
    max-width: 1000px;
    max-height: 500px;
    
    color: #fff;
    position: relative;
}
.contenedor header{
    overflow: hidden;
}



.contenedor .contenido{
    display: flex;
    position: relative;
}
.contenido .linea-decorativa{
    position: absolute;
    height: 250px;
    border-left: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    transform: translateY(-50%);
}
.contenido .linea-decorativa .circulo{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -9px;
}

.contenedor .contenido .left{
    width: 50%;
    margin-top: 30px;
    padding-left: 50px;
    
    
    
    
}
.right1{
    width: 100%;
    margin-top: 50px;
    padding-left: 600px;
    position: absolute;
    display: flex;
    justify-content: end;
    top: 0%;
    right: 20%;
    
    
}
.contenedor .contenido .left h2{
    padding-top: 60px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contenedor .contenido .left p{
    margin-bottom: 60px;
    font-size: 14px;
}
.contenedor .contenido .left button{
    display: inline-block;
    border: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: .5s;
    cursor: pointer;
}
.contenedor .contenido .left button:hover{
    background-color: #000;
    color: #fff;
}
.contenedor .contenido .left .redes{
    font-size: 24px;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 2px solid #fff;
    width: 100px;
    display: flex;
    justify-content: space-between;
    
}
.contenedor .contenido .left .redes a{
    text-decoration: none;
    color: #fff;
}
.contenedor .contenido .right{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
}
.contenedor .contenido .right .popular{
    border-bottom: 2px solid #fff;
    width: 100px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.contenedor .contenido .right .contenedor-fotos{
    display: flex;
    justify-content: end;
    position: relative;
}

.contenedor .contenido .right .contenedor-fotos img{
    width: 25%;
    margin: 0 10px;
    border-radius: 10px;
}
@media screen and(max-width: 700px){
    .right1{
      color: #fff;
    }
  
    .right{
      display:block;
      cursor: pointer;
    }
  
    .right .contenedor-fotos{
      position: fixed;
      top:80px;
      background: #2c3e50;
      left: 0;
      height: 100%;
      transition: 1s;
      width: 0;
      overflow: hidden;
      
    }
  
    .contacto{
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: center;
      background: #34495e;
      color:#fff;
    }
  
    .header>h1{font-size: 70px;}
    .header>h2{font-size:35px;}
  
    .redes{
      width: 48%;
      margin-bottom:var(--margenes);
    }
  
    :root{
      --margenes: 30px;
    }
  }
  
  @media screen and (max-width: 500px){
    :root{
      --espacios-contenido: 25px;
    }
  
    .right1{
      width: 90%;
    }
  
    .right{
      width: 90%;
      margin-bottom: var(--margenes);
    }
  
    .contacto{
      width: 65%;
    }
  
    .contenedor{
      width: 80%;
    }
  
    .redes{
      margin: auto;
    }
  }

 